@import "mixins/at-root";
@import "mixins/font-icon";
@import "mixins/with-accent";
@import "mixins/with-retina";
@import "mixins/with-screen";


@mixin text-gradient($from, $to) {
    color: #{$to};
    background: -webkit-linear-gradient(#{$from}, #{$to});
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin color($color, $background-color) {
    color: $color;
    background-color: $background-color;

    &:-webkit-autofill {
        -webkit-text-fill-color: $color !important;
        -webkit-box-shadow: 0 0 0 1000px $background-color inset;
    }
}

@mixin border($width, $style, $color, $radius: null) {
    border: $width $style $color;

    @if ($radius != null) {
        border-radius: $radius;
    }
}

@mixin hidden {
    position: fixed;
    width: 0 !important;
    height: 0 !important;
    left: -1000px;
    top: -1000px;
}

@mixin position($position: null, $left: null, $top: null, $right: null, $bottom: null, $width: null, $height: null) {
    @if ($position != null) {
        position: $position;
    }

    @if ($left != null) {
        left: $left;
    }
    @if ($top != null) {
        top: $top;
    }
    @if ($right != null) {
        right: $right;
    }
    @if ($bottom != null) {
        bottom: $bottom;
    }
    @if ($width != null) {
        width: $width;
    }
    @if ($height != null) {
        height: $height;
    }
}

@mixin absolute($left: null, $top: null, $right: null, $bottom: null, $width: null, $height: null) {
    @include position(absolute, $left, $top, $right, $bottom, $width, $height);
}

@mixin fixed($left: null, $top: null, $right: null, $bottom: null, $width: null, $height: null) {
    @include position(fixed, $left, $top, $right, $bottom, $width, $height);
}

@mixin flex($direction: row, $align-items: center, $align-content: null, $justify-content: null, $flex-wrap: null) {
    display: flex;
    flex-direction: $direction;

    @if($align-items != null) {
        align-items: $align-items;
    }
    @if($align-content != null) {
        align-content: $align-content;
    }
    @if($justify-content != null) {
        justify-content: $justify-content;
    }
    @if($flex-wrap != null) {
        flex-wrap: $flex-wrap;
    }
}

@mixin form-layout {
    @include flex($flex-wrap: wrap, $justify-content: space-between);
}