$field-label-font-size: 12px;
$field-label-line-height: 16px;
$field-label-text-transform: capitalize;

.field {
    position: relative;
    width: 100%;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    &_label {
        padding-top: $field-label-line-height;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: $field-label-font-size;
        line-height: $field-label-line-height;
        text-transform: $field-label-text-transform;
    }
}