{
    "env": {
        "production": {
            "ignore": [
                "__mocks__",
                "__tests__",
                "*.test.js"
            ]
        }
    },
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "stage-2",
        "flow",
        "react"
    ],
    "plugins": [
        "transform-export-extensions"
    ]
}