@import "~positron-ui/src/scss/constants/material-colors";
@import "~positron-ui/src/scss/mixins";

$doc-view-padding: 16px;

.doc-view {
    position: relative;
    padding: $doc-view-padding;
    background: #fff;
    box-shadow: 0 0 10px $material-black-light;
    margin: 96px 32px 32px 32px;
    max-width: 1000px;
    transition: margin 0.2s ease-in;

    @include with-screen-max(x-small) {
        margin: 96px 0 32px 0;
    }

    &__header {
        @include absolute(0, -96px, 0);
        font-weight: bold;
        color: #fff;

        @include with-screen-max(x-small) {
            padding: 0 $doc-view-padding;
        }

        h1 {
            font-size: 40px;
            line-height: 96px;
            margin: 0;
        }
    }
}