@import "scss/ionicons";

.password {
    .text-field__input {
        padding-right: 28px;
    }

    &__icon {
        position: absolute;
        right: 8px;
        top: calc(50% - 10px);
        cursor: pointer;
        font-size: 20px;

        .text-field_password & {
            @include ion-icon(eye);
        }

        .text-field_text & {
            @include ion-icon(eye-disabled);
        }
    }
}