@import "material-colors";

$accents: (
    red: $material-red-600,
    pink: $material-pink-600,
    purple: $material-purple-600,
    deep-purple: $material-deep-purple-600,
    indigo: $material-indigo-600,
    blue: $material-blue-600,
    light-blue: $material-light-blue-600,
    cyan: $material-cyan-600,
    teal: $material-teal-600,
    green: $material-green-600,
    light-green: $material-light-green-600,
    lime: $material-lime-600,
    yellow: $material-yellow-600,
    amber: $material-amber-600,
    orange: $material-orange-600,
    deep-orange: $material-deep-orange-600,
);
