@import "func";
@import "constants/material-colors";

$gap: 16px !default;
$medium: 300px !default;
$default-sizes: make-sizes($medium, $gap) !default;

$block-sizes: make-sizes(320, $gap: 0, $padding: 16px);

@function size($size, $sizes: $default-sizes) {
    @if (map_has_key($sizes, $size)) {
        @return map_get($sizes, $size);
    } @else {
        @warn "Unfortunately, no size could be retrieved from `#{ $size }`.";
    }
}

$input-border-color: $material-grey-300;
$input-border-width: 1px;