@import "scss/constants/material-colors";
@import "ui/Input/Input";

$error-background-color: $material-red-900 !default;
$error-color: $material-white !default;

.error {
    @include input-typography();

    margin: 8px 0;
    padding: 0 8px;
    background: $error-background-color;
    color: $error-color;
    box-shadow: 0 0 10px $material-black-light;
}