@import "../lib/core/nvl";

@function --get-appearance($selector, $appearances) {
    $selector: #{ $selector };

    @each $key in map_keys($appearances) {
        $match: ($key == "" and $selector == "") or ($key != "" and str_index($selector, $key) != null);

        // @debug("< #{ $key } ; #{ $selector } ; #{ $match } >");

        @if ($match) {
            @return $key;
        }
    }

    @return null;
}

@function get-appearance($appearances) {
    $selector: #{ & };
    $key: $selector;

    @if ($selector == null) {
        @error ("get-appearance: null { & }");
    }

    $key: nvl(--get-appearance($selector, $appearances), --get-appearance("", $appearances));

    @if ($key != null) {
        // @debug ("get-appearance: use #{ if($key == "", default key, #{ $key }) } for #{ $selector }");

        @return map_get($appearances, $key);
    }

    @error ("get-appearance: not found for #{ $selector }");

    @return null;
}