@import "../lib/core/nvl";

@function make-sizes($medium, $gap, $padding: null) {
    $padding: nvl($padding, $gap);
    $medium: $medium - 2 * $padding;

    @return (
        xx-small: ($medium - 3 * $gap) / 4,
        x-small: ($medium - 2 * $gap) / 3,
        small: ($medium - $gap) / 2,
        medium: $medium,
        large: $medium * 2 + $gap,
        x-large: $medium * 3 + 2 * $gap,
        xx-large: $medium * 4 + 3 * $gap
    );
}
