@mixin position($position: null, $left: null, $top: null, $right: null, $bottom: null, $width: null, $height: null) {
    @if ($position != null) {
        position: $position;
    }

    @if ($left != null) {
        left: $left;
    }
    @if ($top != null) {
        top: $top;
    }
    @if ($right != null) {
        right: $right;
    }
    @if ($bottom != null) {
        bottom: $bottom;
    }
    @if ($width != null) {
        width: $width;
    }
    @if ($height != null) {
        height: $height;
    }
}