@mixin --at-root($root, $selector) {
    $selector: #{ $selector };
    $root: if(str_index($selector, "__") == null, selector_append($root, $selector), selector_nest($root, $selector));

    @if ($root == "") {
        @error ("@at-root: cannot add #{ $selector } to #{ $root }");
    }

    @at-root #{ $root } {
        @content;
    }
}

@mixin at-root($root) {
    $selector: #{ & };

    @if ($selector == null) {
        @error ("@at-root: null { & }");
    }
    @if ($root == null) {
        @error ("@at-root: null $root");
    }

    @if ($root == "") {
        @content;
    } @else {
        @include --at-root($root, $selector) {
            @content;
        }
    }

}