@import "constants/screen";

@mixin with-screen-width-less-than($size) {
    $size: $size + "-max";

    @if (map_has_key($screen, $size)) {
        $width: map_get($screen, $size);

        @media only screen and (max-width: #{ $width }) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no size could be retrieved from `#{ $size }`.";
    }
}

@mixin with-screen-width-greater-than($size) {
    $size: $size + "-min";

    @if (map_has_key($screen, $size)) {
        $width: map_get($screen, $size);

        @media only screen and (min-width: #{ $width }) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no size could be retrieved from `#{ $size }`.";
    }
}