$range-picker-handle-size: 14px;
$range-picker-handle-halo-offset: 10px;
$range-picker-handle-halo-pulse-offset: 11px;

@keyframes range-picker-pulse {
    from {
        left: - $range-picker-handle-halo-offset;
        right: -$range-picker-handle-halo-offset;
        top: - $range-picker-handle-halo-offset;
        bottom: -$range-picker-handle-halo-offset;
    }
    to {
        left: -$range-picker-handle-halo-pulse-offset;
        right: -$range-picker-handle-halo-pulse-offset;
        top: -$range-picker-handle-halo-pulse-offset;
        bottom: -$range-picker-handle-halo-pulse-offset;
    }
}

.range-picker {
    width: 100%;
    max-width: 310px;

    &_disabled {
        pointer-events: none;
    }

    &__label {
        font-size: 11px;
        text-transform: uppercase;
    }

    &__slider {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 32px 0 15px 0;
    }

    &__bar {
        position: relative;
        height: 2px;
        background: #ccc;
        overflow: visible;
    }

    &__range {
        position: absolute;
        top: 0;
        height: 100%;
        background: red;
        overflow: visible;

        .range-picker_disabled & {
            background: #ccc;
        }
    }

    &__handle {
        position: absolute;
        top: 1px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #000;
        margin: -7px;
        cursor: pointer;
        box-sizing: border-box;
        transition: all .3s ease;

        .range-picker_disabled & {
            background: #ccc;
            cursor: default;
        }

        &_from {
            left: 0;
        }

        &_to {
            left: 100%;
        }

        &_dragging {
            width: 20px;
            height: 20px;
            margin: -10px;
        }

        .range-picker_disabled & {
            width: 12px;
            height: 12px;
            margin: -5px;
            border: 2px solid white;
        }

        &:before {
            content: "";
            position: absolute;
            background: #000;
            border-radius: 50%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity .3s ease;
            animation: range-picker-pulse 1s infinite alternate;
            animation-delay: 0.3s;
        }

        &:hover:before {
            left: -$range-picker-handle-halo-offset;
            right: -$range-picker-handle-halo-offset;
            top: -$range-picker-handle-halo-offset;
            bottom: -$range-picker-handle-halo-offset;
            opacity: 0.2;
        }

        &_dragging:hover:before {
            display: none;
        }
    }

    &__value {
        position: absolute;
        top: 0;
        color: #343434;

        &_from {
            left: 0;
        }

        &_to {
            right: 0;
        }
    }
}