@import "variables";

.text-field {
    position: relative;
    border: 1px solid $input-border-color;
    border-radius: 2px;
    padding: 0 10px;

    &__input {
        width: 100%;
        background: transparent;
        border: none;
        line-height: 32px;
    }
}
