@import "scss/mixins";
@import "scss/constants/material-colors";
@import "ui/Input/Input";

$button-border-radius: 2px !default;
$outline-offset: 2px;

.button {
    position: relative;

    margin: 0;
    border: none;
    background: map_get($input-appearance, background-color);
    outline: 0;

    &_disabled {
        color: map_get($input-disabled-appearance, color);
    }

    &_type_submit {
        line-height: 40px;
        padding: 0 24px;
        min-width: 100px;
        font-weight: normal;
        text-transform: uppercase;
        border-radius: $button-border-radius;
        color: white;

        background-color: $material-blue-600;

        &.button_disabled {
            background: map_get($input-disabled-appearance, border-color);
        }



        &:focus {
            &:after {
                position: absolute;
                left: $outline-offset;
                top: $outline-offset;
                right: $outline-offset;
                bottom: $outline-offset;
                content: "";
                border: 1px dotted $material-white-light;
                background: $material-white-faint;

            }
        }
    }
}