@import "mixins";

.split {
    position: relative;

    &__bar {
    }

    &_left, &_right {
        @include flex(row, stretch);
    }

    &_top, &_bottom {
        @include flex(column, stretch);
    }

    &_left, &_top {
        & > .split__bar {
            order: 0;
        }

        & > .split__content {
            order: 1;
        }
    }

    &_right, &_bottom {
        & > .split__bar {
            order: 1;
        }

        & > .split__content {
            order: 0;
        }
    }

    &__content {

    }
}