@import "scss/ionicons";
@import "ui/Input/Input";

@mixin number-field-button {
    $line-height: input-appearance-prop(line-height);

    position: absolute;
    top: 0;
    width: $line-height;
    height: $line-height;

    &:before {
        font-size: 20px;
    }
}

.number-field {
    $line-height: input-appearance-prop(line-height);

    position: relative;

    &.text-field {
        .text-field__input {
            padding-right: $line-height + 2 * input-appearance-prop(padding-right);
        }
    }

    &__decrease-button {
        @include ion-icon("android-arrow-down");
        @include number-field-button;
        right: input-appearance-prop(line-height);
    }

    &__increase-button {
        @include ion-icon("android-arrow-up");
        @include number-field-button;
        right: 0;
    }
}