@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/san-francisco-100.woff2") format("woff2"),
         url("/fonts/san-francisco-100.woff") format("woff"),
         url("/fonts/san-francisco-100.ttf") format("truetype");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/san-francisco-300.woff2") format("woff2"),
         url("/fonts/san-francisco-300.woff") format("woff"),
         url("/fonts/san-francisco-300.ttf") format("truetype");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/san-francisco-400.woff2") format("woff2"),
         url("/fonts/san-francisco-400.woff") format("woff"),
         url("/fonts/san-francisco-400.ttf") format("truetype");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/san-francisco-500.woff2") format("woff2"),
         url("/fonts/san-francisco-500.woff") format("woff"),
         url("/fonts/san-francisco-500.ttf") format("truetype");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/san-francisco-700.woff2") format("woff2"),
         url("/fonts/san-francisco-700.woff") format("woff"),
         url("/fonts/san-francisco-700.ttf") format("truetype");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/san-francisco-800.woff2") format("woff2"),
         url("/fonts/san-francisco-800.woff") format("woff"),
         url("/fonts/san-francisco-800.ttf") format("truetype");
}
